<b-container class="content">
  <b-row>
    <b-col class="content">
      <div v-if="assessmentStarted">
        <h1>{{assessmentTitle}}</h1>
        <div>
          <b-form-group v-for="question in assessmentQuestions" :key="question.QuestionId" :label=question.Content>
            <b-form-radio-group :value="question.AnswerId"
                                :options="answerToOptions(question)"
                                @input="handleChoice(question.QuestionId, $event)"
                                stacked
                                :name="questionGroupName(question.QuestionId)">
            </b-form-radio-group>
          </b-form-group>
          <b-button variant="primary" @click="check()">Check result</b-button>
        </div>
      </div>
    </b-col>
  </b-row>
</b-container>
