<b-container class="content">
  <b-row>
    <b-col class="content">
      <div v-for="(quizItem, index) in quizListItems">
        <b-card :title=quizItem.Title style="max-width: 20rem;">
          <p class="card-text">Single choice. {{quizItem.QuestionsCount}} questions.</p>
          <b-button variant="primary" @click="start(quizItem)">Start</b-button>
        </b-card>
      </div>
    </b-col>
  </b-row>
</b-container>
