<b-container class="content">
  <b-row>
    <b-col class="content">
      <div v-if="assessmentStarted && assessmentResult">
        <h1>{{assessmentTitle}} assessment results</h1>
        <div class="results">
          <ul>
            <li><strong>Correct answers</strong>: {{assessmentResult.CorrectCount}}</li>
            <li v-if="assessmentResult.BetterThanPcnt > -1">Better than <strong>{{assessmentResult.BetterThanPcnt}}%</strong> of other users</li>
            <li v-if="assessmentResult.BetterThanPcnt === -1">Completed only once</li>
          </ul>
          <b-button variant="primary" href="/">Try again</b-button>
        </div>
      </div>
    </b-col>
  </b-row>
</b-container>
