@import "~bootstrap/scss/bootstrap.scss";

html, body, #app-main {
    height: 100%;
}

.content {
  margin-top: 50px;
  width: 720px;
}

.content h1 {
  text-align: center;
}

.content legend {
  font-weight: bold;
}

.results {
  width: 40%;
  margin-left: 30%;
  margin-top: 40px;
}

.results ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 40px;
}
