<b-navbar toggleable="md" type="dark" variant="dark" fixed="top">
  <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
  <b-navbar-brand href="#">Quiz app</b-navbar-brand>
  <b-collapse is-nav id="nav_collapse">
    <b-navbar-nav>
      <b-nav-item v-for="link in links" :key="link.name" :to="link.path" exact>{{link.name}}</b-nav-item>
    </b-navbar-nav>
  </b-collapse>
</b-navbar>
